p{
    Color: red;
}
h3{
    Color: green;
}
.about-list-item {
    font-style: bold;
}
#my-name {
  color: blue;
}
.container {
    max-width: 840px;
    margin: ;
}
.intro {
    text-align:center;
}
.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;    
}

.I-am, .I-like {
    text-align: center; 
}

.about-list {
    text-align: center;
    list-style: none;    
}
@media(max-width: 480px){
    .about-grid{
        grid-template-columns: 100px;
    }
}
